{{ define "Base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>HTMX Go Todo</title>
      <link href="/static/index.css" rel="stylesheet" />
      <script src="/static/htmx.js" type="text/javascript"></script>
    </head>
    <body>
      <div class="max-w-screen-md mx-auto mt-8">
        <div class="flex justify-between items-center">
          {{ template "TotalCount" dict "Count" .Count "SwapOOB" false }}
          {{ template "CompletedCount" dict "Count" .CompletedCount "SwapOOB" false }}
        </div>

        {{ template "Form" }}


        <div id="items" class="space-y-2.5 mt-4">
          {{ range .Items }}
            {{ template "Item" dict "Item" . "SwapOOB" false }}
          {{ end }}
        </div>
      </div>
    </body>
  </html>
{{ end }}
